
@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="https://shopta.vn/images/2015/11/dat-hang-thanh-cong.jpg" alt="Đặng hàng thành công" />
<h3 style="margin-left: 132px;">Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể!</h3>
<p>
    @Html.ActionLink("Quay về trang chủ", "Index", "Home")
</p>
