body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-nav {
    float: unset;
}

.navbar-inverse {
   background-color: #13a88f
}

    .navbar-inverse .navbar-brand {
        color: red;
        border-top: 8px solid blue;
        font-size: 24px;
        font-weight: bold;
        background: #efe306;
        border-radius: 12px;
        width: 100px;
        font-size: 16px;
        text-align: center;
        padding: 2px;
        transition: 0.4s;
    }



    .navbar-inverse .navbar-nav > li > a {
        display: flex;
        color: #fff;
    }
    .btnSubmit {
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

.align-left {
    text-align: left;
}

.note {
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
    margin: 4px;
}

